.opponentText {
  width: auto;
  height: 40vw;
  position: absolute;
  z-index: 1;
  left: 50vw;
  top: -5vw;
  bottom: 100vw;
}

.opponentImage {
  height: 40vh;
  width: auto;
  position: absolute;
}

.containerNav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

.containerNav li a {
  color: black;
  text-decoration: none;
  font-size: 2.5vw;
}

h1 {
  text-align: center;
}

.imageFlexContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1vh;
  height: 20vw;
}


/*.opponentText {
  display: block;
  width: 40vw;
  margin-left: 2vw;
}*/

.cardFlexContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.cardFlexContainer img {
  height: 35vh;
  width: auto;
}

.buttonFlexContainer {
  display: flex;
  justify-content: space-around;
}
