

.intro {
  background-color: rgba(240,192,120,0.4);
  display: flex;
  z-index: 1;
  flex-direction: column;
  margin-top: 40px;
   color:#6e0000;}

.h2intro, .pintro {
  z-index:2 ;
  text-align: center;
}
.h2intro {
  font-size: 8vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  margin-left: 2vw;
  color: #D8D8C0;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
}
.question {
  background-color: rgba(240,192,120,0.4);
  display: flex;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.old, .qname, .pick, .part1 {
  font-size: 5vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  margin-left: 2vw;
  color: #D8D8C0;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
    }

  .switchage input {

  }

label > input{
visibility: hidden;
position: absolute;
}
label > input + img{
cursor:pointer;
border:2px solid transparent;
}
label > input:checked + img{
border:2px solid #f00;
}

.selectionform {
  background-color: rgba(240,192,120,0.4);
  z-index: 1;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin-top: 40px;
  color:#6e0000;}


.poison, .pickpartner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  label {
    font-size: 2vw;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 5px;
    margin-bottom: 0.5vw;
    margin-top: 2vw;
    text-align: center;
    color: #6e0000;
    text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
      }
.switchage__label {
  font-size: 2vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  text-align: center;
  color: #6e0000;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
    }



.container {
  font-family: 'Montserrat', sans-serif;
  background-image: url("img/alc_background.jpg");
  background-size: cover;

}
.backgroundContainerMain {
  background-image: url("img/medwoodheader.jpg");
  background-size: cover;
  height: 25vw;
  display: flex;

}
.logo {
  z-index: 1;
  width:auto;
  height: 25vw;
  position: absolute;
  left: 35vw;
}

.slogan {
  font-size: 3vw;
  font-family: 'Amatic SC', cursive;
  color: white;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
  display: block;
  position: absolute;
  left: 60vw;
  top: 9vw;
}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;}

.containerNav1 {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #6e0000;
  margin-top: 0;
  margin-bottom: 0;
}

.containerNav1 li a {
  color: #f0c078;
  text-decoration: none;
  font-size: 2.5vw;
  font-family: 'Montserrat', sans-serif;

}


@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active, .hover-buzz{
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-fill-mode:
}
.hvr-buzz:hover {
  color: #d86018;
}

.textbox {
  background: white;
  border: 1px solid #ffa853;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px #ffa853;
  color: #666;
  outline: none;
  height:23px;
  width: 275px;
}

.switchage input[type="radio"]:not(:checked), .switchage input[type="radio"]:checked {
  display: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.clearLS {
  position: absolute;
  right: 1vw;
}

/*below is tye slider style for drinks*/

.switch__label {
  display: inline-block;
  width: rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
}
.switch__label:hover {
  color: white;
}

.switch input[type="radio"]:not(:checked), .switch input[type="radio"]:checked {
  display: none;
}

.partnerselect label:hover {
  color: white;
}

.partnerselect label input:checked{
  color: white;
}

.partnerselect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.partnerselect img {
  height: auto;
  width: 12vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.partnerselect figcaption {
  display: block;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.5vw;
}

label > input{
  visibility: hidden;
  position: absolute;
}
