

.intro {
  background-color: rgba(240,192,120,0.4);
  display: flex;
  /*opacity: 0.3;*/
  z-index: 1;
  /*justify-content: center;*/
  flex-direction: column;
  margin-top: 40px;
   color:#6e0000;}

.h2intro, .pintro {
  z-index:2 ;
  text-align: center;
  /*display: block;*/
}
.h2intro {
  font-size: 10vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  margin-left: 2vw;
  color: #D8D8C0;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
}
.question {
  background-color: rgba(240,192,120,0.4);
  display: flex;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  /*text-align: center;*/
  /*margin-left: 2vw;*/
  margin-top: 40px;
  /*color:#6e0000;}*/
}



  .old, .qname, .pick, .part1 {
  font-size: 5vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  margin-left: 2vw;
  color: #D8D8C0;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
    }

  .switchage input {

  }

label > input{
visibility: hidden;
position: absolute;
}
label > input + img{
cursor:pointer;
border:2px solid transparent;
}
label > input:checked + img{
border:2px solid #f00;
}

.selectionform {
  background-color: rgba(240,192,120,0.4);
  /*display: flex;*/
  z-index: 1;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin-top: 40px;
  color:#6e0000;}


.poison, .pickpartner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  label {
    font-size: 2vw;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 5px;
    margin-bottom: 0.5vw;
    margin-top: 2vw;
    text-align: center;
    color: #6e0000;
    text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
      }
.switchage__label {
  font-size: 2vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  text-align: center;
  color: #6e0000;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
    }



.container {
  /*margin-left: 20px;*/
  font-family: 'Montserrat', sans-serif;
  background-image: url("../img/alc_background.jpg");
  background-size: cover;

}
.backgroundContainerMain {
  background-image: url("../img/medwoodheader.jpg");
  background-size: cover;

}
.logo {
  z-index: 1;
  width:auto;
  height: auto;
  /*display: flex;
  justify-content: center;
  margin-left: 100px;*/


}

.slogan {
  height: 30%;
  width:30%;
  z-index: 2;
  display: flex;
  /*justify-content: center;*/
  margin-left: 100px;


}
.logoContainerMain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 20vw
  width:auto;;


  }


/*
.logoContainerMain p {
  font-size: 10vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 10px;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  color: #D8D8C0;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);*/
}
/*.logoContainerMain h1 {
  font-size: 12vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 8px;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  color: transparent;

}*/

.sloganContainerMain {
  display: flex;
  flex-direction: row;
  /*justify-content: flex-end;
  margin-right: 20vm;*/
  flex-wrap: wrap;
  font-size: 1vw;
  font-family: 'Amatic SC', cursive;
}

.sloganContainerMain p {
  color: #white;
  font-size: 2vw;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 1vw;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
}


body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;}

.containerNav1 {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #6e0000;
  margin-top: 0;
  margin-bottom: 0;
}

.containerNav1 li a {
  color: #f0c078;
  text-decoration: none;
  font-size: 2.5vw;
  font-family: 'Montserrat', sans-serif;

}


/* Buzz hover */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active, .hover-buzz{
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-fill-mode:
}
.hvr-buzz:hover {
  color: #d86018;
}

.textbox {
  background: white;
  border: 1px solid #ffa853;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px #ffa853;
  color: #666;
  outline: none;
  height:23px;
  width: 275px;
}


.containerNav1 li {
  display: inline-block;
  width: 33%;

}

.checkbox-grid li {
    display: inline-block;

    width: 10%;
}
.checkbox-option2 li {
    display: inline-block;
    width: 20%;
}

.switchage__label {
  display: inline-block;
  width: rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
}
.switchage__label:hover {
  color: white;
}




.switchage input[type="radio"]:not(:checked), .switchage input[type="radio"]:checked {
  display: none;
}
/*li {
list-style-type: none;
}*/

.buttoncenter {
   border-top: 1px solid #cfb42c;
   background: #d6c365;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c853e), to(#d6c365));
   background: -webkit-linear-gradient(top, #9c853e, #d6c365);
   background: -moz-linear-gradient(top, #9c853e, #d6c365);
   background: -ms-linear-gradient(top, #9c853e, #d6c365);
   background: -o-linear-gradient(top, #9c853e, #d6c365);
   padding: 8px 16px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.buttoncenter:hover {
   border-top-color: #966e58;
   background: #966e58;
   color: #ccc;
   }
.buttoncenter:active {
   border-top-color: #b3c5d1;
   background: #b3c5d1;
   }

/*
below is tye slider style for drinks*/

.switch__label {
  display: inline-block;
  width: rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
}
.switch__label:hover {
  color: white;
}

.switch input[type="radio"]:not(:checked), .switch input[type="radio"]:checked {
  display: none;
}

/*.partnerselect figcaption {
  /*display: inline-block;*/
  /*width: rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
/*}*/
.partnerselect label:hover {
  color: white;
}

.partnerselect input[type=radio]:checked{
  color: white;
}


.partnerselect input {
  visibility: hidden;
}

/*.partnerselect input [type="radio"]
{
  display:none;
  visibility: hidden;
}*/

.partnerselect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.partnerselect img {
  height: 150px;
  width:150px;
}

label > input{
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
