

.intro {
  background-color: rgba(240,192,120,0.4);
  display: flex;
  /*opacity: 0.3;*/
  z-index: 1;
  /*justify-content: center;*/
  flex-direction: column;
  margin-top: 40px;
   color:#6e0000;}

.h2intro, .pintro {
  z-index:2 ;
  text-align: center;
  /*display: block;*/
}
.h2intro {
  font-size: 10vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  margin-left: 2vw;
  color: #D8D8C0;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
}
.question {
  background-color: rgba(240,192,120,0.4);
  display: flex;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  /*text-align: center;*/
  /*margin-left: 2vw;*/
  margin-top: 40px;
  /*color:#6e0000;}*/
}



  .old, .qname, .pick, .part1 {
  font-size: 5vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  margin-left: 2vw;
  color: #D8D8C0;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
    }

  .switchage input {

  }

label > input{
visibility: hidden;
position: absolute;
}
label > input + img{
cursor:pointer;
border:2px solid transparent;
}
label > input:checked + img{
border:2px solid #f00;
}

.selectionform {
  background-color: rgba(240,192,120,0.4);
  /*display: flex;*/
  z-index: 1;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin-top: 40px;
  color:#6e0000;}


.poison, .pickpartner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  label {
    font-size: 2vw;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 5px;
    margin-bottom: 0.5vw;
    margin-top: 2vw;
    text-align: center;
    color: #6e0000;
    text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
      }
.switchage__label {
  font-size: 2vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  text-align: center;
  color: #6e0000;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
    }



.container {
  /*margin-left: 20px;*/
  font-family: 'Montserrat', sans-serif;
  background-image: url("img/alc_background.jpg");
  background-size: cover;

}

}
.logo {
  height: 20%;
  width:20%;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-left: 100px;


}

.slogan {
  height: 30%;
  width:30%;
  z-index: 2;
  display: flex;
  /*justify-content: center;*/
  margin-left: 100px;


}
.logoContainerMain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  }



.logoContainerMain p {
  font-size: 10vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 10px;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  color: #D8D8C0;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
}
.logoContainerMain h1 {
  font-size: 12vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 8px;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
  color: transparent;

}

.sloganContainerMain {
  display: flex;
  flex-direction: row;
  /*justify-content: flex-end;
  margin-right: 20vm;*/
  flex-wrap: wrap;
  font-size: 1vw;
  font-family: 'Amatic SC', cursive;
}

.sloganContainerMain p {
  color: #white;
  font-size: 2vw;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 1vw;
  text-shadow: 2px 2px 4px rgba(116, 125, 102, 1);
}


body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;}

.containerNav1 {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #6e0000;
  margin-top: 0;
  margin-bottom: 0;
}

.containerNav1 li a {
  color: #f0c078;
  text-decoration: none;
  font-size: 2.5vw;
  font-family: 'Montserrat', sans-serif;

}


/* Buzz hover */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active, .hover-buzz{
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-fill-mode:
}
.hvr-buzz:hover {
  color: #d86018;
}

.textbox {
  background: white;
  border: 1px solid #ffa853;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px #ffa853;
  color: #666;
  outline: none;
  height:23px;
  width: 275px;
}


.containerNav1 li {
  display: inline-block;
  width: 33%;

}

.checkbox-grid li {
    display: inline-block;

    width: 10%;
}
.checkbox-option2 li {
    display: inline-block;
    width: 20%;
}

.switchage__label {
  display: inline-block;
  width: rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
}
.switchage__label:hover {
  color: white;
}




.switchage input[type="radio"]:not(:checked), .switchage input[type="radio"]:checked {
  display: none;
}
/*li {
list-style-type: none;
}*/

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*
below is tye slider style for drinks*/

.switch__label {
  display: inline-block;
  width: rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
}
.switch__label:hover {
  color: white;
}

.switch input[type="radio"]:not(:checked), .switch input[type="radio"]:checked {
  display: none;
}

/*.partnerselect figcaption {
  /*display: inline-block;*/
  /*width: rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
}*/
.partnerselect figcaption:hover {
  color: white;
}



.partnerselect input [type="radio"]:not(:checked), .partnerselect input[type="radio"]:checked {
  display:none;
}

.partnerselect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.partnerselect img {
  height: 150px;
  width:150px;
}

label > input{
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}



/*
below is for the styling of are you 21 radio*/




/*.forminputcontainer {
    margin: auto;
    position: absolute;
    top: -40%; right: -50; bottom: 0; left: 0;
    width: 200px;
    height: 150px;
    text-align:center;
    font-size: 20px;
    display: flex;
}
form label {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 15px;
    margin: 30px;
}
form input[type=radio] {
    display: none;
}
form label:before, form label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}
form label:before {
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    top: -5px;
    left: 0px;
    background-color: transparent;
}
form label:after {
    width: 15px;
    height: 15px;
    background-color: #fff;
    top: 3px;
    left: 8px;
    opacity: 0;
}
form input[type=radio]:checked + label:before {
    animation: on-bord-battun .3s ease-in-out;
}*/
/*@keyframes on-bord-battun {
    0% { /*box-shadow: 0px 0px 0px 12px rgba(255,255,255,0);*/
         /*transform: scale(1);}
    50% { box-shadow: 0px 0px 0px 15px rgba(255,255,255,0.7);
        transform: scale(0.4);}
    100% { box-shadow: 0px 0px 0px 12px rgba(255,255,255,0);
         transform: scale(1);}
}
form input[type="radio"]:not(:checked) + label:before {
    animation: off-bord-battun .3s ease-in-out;
}
@keyframes off-bord-battun {
    0% { transform: scale(1); }
    50% { transform: scale(0.4); }
    100% { transform: scale(1); }
}
form input[type=radio]:checked + label:after {
    opacity: 1;
    animation: on-dot .3s ease-in-out;
}
@keyframes on-dot {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
form input[type=radio]:not(:checked) + label:after {
    animation: off-dot .3s ease-in-out;
}
@keyframes off-dot {
    0% { opacity: 1; }
    100% { opacity: 0; }
}*/


/*below is flex box for the images */


/*@import "compass/css3";*/

/*.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 200px;
  margin-top: 10px;

  line-height: 150px;
  /*color: white;
  font-weight: bold;
  font-size: 3em;*/
  /*text-align: center;
}*/
